header, section {
	display: inline-block;
}

.left {
	float: left;
	width: 35%;
}

.right {
	float: right;
	width: 60%;
}

#headshot {
	display: block;
	text-align: center;
	margin: 50px auto 0;
	border: 2px solid #E13A63;
}

.experience {
	display: inline-block;
	clear: both;
	margin-top: 30px;
	text-align: center;
}

header, .experience {
	border: 2px solid #E13A63;
	padding: 10px;
}

/* Media Queries */

@media screen and (min-width: 320px) {

	.right,
	.left {
		float: none;
	}

	.right {
		width: 100%;

	}

	header,
	.experience {
		/* text-align: center;
		margin-right: auto; */
		padding: 30px
	}

	#headshot {
		height: 100px;
		width: 100px;
	}



	header, section {
		display: block;
	}
}
