.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	display: block;
	margin: 0 auto;
}

/* Media Queries */

@media screen and (min-width: 320px) {

  #headshot {
		margin: auto;
		width: 80%;
		padding: 0;
    height: 100px;
		width: 100px;
		margin-top: 10px;
	}

  .tile {
    width: 80%;}

    .tile img{
      width:80%
    }

  .screenshot {
    height: 100px;
    width: 150px;
  }

  p a {
    word-wrap: break-word;
  }

}
